<!DOCTYPE html>
<html>

<head>
    <link th:href="@{/list/index.css}" rel="stylesheet">
</head>

<body>
    <div class="index__headline">
        <th:block th:insert="~{list/components/headline/headline::frag(componentid=headline)}"></th:block>
    </div>
    <div class="index__create-button">
        <th:block th:insert="~{list/components/create-button/create-button::frag(componentid=create-button)}">
        </th:block>
    </div>
    <div class="index__mock-list">
        <th:block th:insert="~{list/components/mock-list/mock-list::frag(componentid=mock-list)}"></th:block>
    </div>
    <div class="index__form">
        <th:block th:insert="~{list/components/form/form::frag(componentid=form)}"></th:block>
    </div>
    <script th:src="@{/list/index.js}"></script>
</body>

</html>