<!--
    USAGE:
    <th:block th:replace="~{list/components/mock-list/mock-list::frag(componentid=XXXXXX)}"></th:block>
-->
<div class="mock-list" th:fragment="frag" th:componentid="${componentid}">
    <th:block th:if="${#lists.isEmpty(mockList)}">
        <div>
            No mocks are registered.
        </div>
    </th:block>
    <th:block th:if="${#lists.size(mockList)>0}">
        <div>
            The registered mocks are here.
        </div>
        <div class="mock-list__body" th:each="mock: ${mockList}">
            <hr />
            <div class="mock-list__each">
                <div class="mock-list__each__item mock-list__each__mock-name">
                    <span>Mock Name: </span>
                    <span th:text="${mock.mockName}"></span>
                </div>
                <div class="mock-list__each__item mock-list__each__mock-path">
                    <span>Mock URI: </span>
                    <span th:text="${mock.mockPath}"></span>
                </div>
                <div class="mock-list__each__item mock-list__each__status-code">
                    <span>Status Code: </span>
                    <span th:text="${mock.statusCode}"></span>
                </div>
                <div class="mock-list__each__item mock-list__each__content-type">
                    <span>Content Type: </span>
                    <span th:text="${mock.contentType}"></span>
                </div>
                <div class="mock-list__each__item mock-list__each__response-body">
                    <span>Response Body: </span>
                    <span th:text="${mock.responseBody}"></span>
                </div>
            </div>
        </div>
    </th:block>
</div>