.form {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 10;

    &--hidden {
        display: none;
    }

    &__headline {
        margin-top: 20px;
        background-color: #a9a9a9;
        color: #000000;
        text-align: center;
    }

    &__body {
        margin-top: 20px;
        text-align: center;
    }

    &__button {
        display: block;
        width: 120px;
        padding: 10px 40px;
        font-weight: bold;
        margin: auto;
    }

    &__cancel-button {
        border: 2px solid #a9a9a9;
        color: #a9a9a9;
        background: #fff;

        &:hover {
            color: #fff;
            background: #a9a9a9;
        }
    }

    &__save-button {
        border: 2px solid #ff8c00;
        color: #ff8c00;
        background: #fff;
    
        &:hover {
            color: #fff;
            background: #ff8c00;
        }
    }
}